In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# ladowanie danych
awards = pd.read_csv("./data/awards.csv")
body_builders = pd.read_csv("./data/body_builders.csv")
coaches = pd.read_csv("./data/coaches.csv")
countries = pd.read_csv("./data/countries.csv")
matches = pd.read_csv("./data/matches.csv")
physiotherapists = pd.read_csv("./data/physiotherapists.csv")
players = pd.read_csv("./data/players.csv")
presidents = pd.read_csv("./data/presidents.csv")
press_offices = pd.read_csv("./data/press_offices.csv")
sport_directors = pd.read_csv("./data/sport_directors.csv")
stadiums = pd.read_csv("./data/stadiums.csv")
statisticians = pd.read_csv("./data/statisticians.csv")
team_mangers = pd.read_csv("./data/team_mangers.csv")
teams = pd.read_csv("./data/teams.csv")
transfers = pd.read_csv("./data/transfers.csv")

In [6]:
# customize the data

polish_teams = teams[teams['country_code'] == 'PL']

,team_id,team_name,country_code,n_matches,n_tournaments,town,founded
0,t10001,TSV Reinbek,DE,0,0,Reinbek,\r
1,t10016,Molde VBK,NO,0,0,Molde,\r
2,t10017,Al-Salam,SA,0,4,Qatif,\r
3,t10018,AZS Kraków,PL,0,14,Kraków,\r
4,t10019,Spójnia Warszawa,PL,0,3,Warszawa,1949